.custom-background {
    background-color: #f8f9fa;
}

.border-none {
    border: none;
}

.custom-carousel-prev {
    width: 2%;
    left: 13px;
}
.custom-carousel-next {
    width: 2%;
    right: 13px;
}

.custom-margin-top {
    margin-top: 20px;
}